[project]
	description = Builds an image for building Android app with gitlab CI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vincent Brison (vincentbrison)
[access "refs/for/refs/*"]
	read = group user/Vincent Brison (vincentbrison)
	push = group user/Vincent Brison (vincentbrison)
	label-Code-Review = -2..+2 group user/Vincent Brison (vincentbrison)
	label-Verified = -1..+1 group user/Vincent Brison (vincentbrison)
	rebase = group user/Vincent Brison (vincentbrison)
	removeReviewer = group user/Vincent Brison (vincentbrison)
	submit = group user/Vincent Brison (vincentbrison)
[access "refs/heads/*"]
	read = group user/Vincent Brison (vincentbrison)
	create = group user/Vincent Brison (vincentbrison)
	push = +force group user/Vincent Brison (vincentbrison)
	pushMerge = group user/Vincent Brison (vincentbrison)
[access "refs/tags/*"]
	push = group user/Vincent Brison (vincentbrison)
	push = +force group user/Vincent Brison (vincentbrison)
[access "refs/fors/*"]
	create = group user/Vincent Brison (vincentbrison)
	push = group user/Vincent Brison (vincentbrison)
